body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #161616;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body,
html,
#root {
  height: 100vh;
  width: 100vw;
}


.btn, .btn:active, .btn:focus {
  background-color: #1e88e5 ;
  color: #ffffff;
}

.btn:hover {
  background-color: #0d47a1 ;
}

.linkText {
  color: #00e5ff ;
}

.linkText:hover {
  color: #00b8d4 ;
}

input {
  color: #ffffff;
}

.material-icons {
  color: #ffffff;
}

.heart, .heart:active, .heart:focus {
  background-color: #ff80ab ;
}

.heart:hover {
  background-color: #ff4885 ;
}

.unheart, .unheart:active, .unheart:focus {
  background-color: #7b1fa2  ;
}

.unheart:hover {
  background-color: #5a1179  ;
}
.dislike {
  width: 100px;
  border: none;
  background-color: #7b1fa2 ;
  color: #ffffff;
  margin-top: 5px;
}

.dislike:hover {
  background-color: #5a1179  ;
}

.like {
  width: 55%;
  border: none;
  background-color: #ff80ab ;
  color: #ffffff;
  margin-top: 5px;
  cursor: pointer;
}

.like:hover {
  background-color: #ff4885;
}

.btn-img, .btn-img:active, .btn-img:focus  {
  border: none;
  background: none;
}


.slick-prev:before {
  position: relative;
  display: inline-block;
  top: calc(50% - 15px);
  color: #ffffff !important;
  content: '\27AD' !important;
  Font-weight: bolder !important;
  transform: scaleX(-1) !important;
}

.slick-next:before {
  position: relative;
  top: calc(50% - 15px);
  color: #ffffff !important;
  content: '\27AD' !important;
  font-weight: bolder !important;
}